<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--6-col mdl-cel--6-col-tablet mdl-cel--4-col-phone mdl-cell--middle">
        {{mdl-textarea label="Twitter Accounts" value=twittaccounts}}
    </div>
    <div class="mdl-cell mdl-cell--7-col">
        {{mdl-button text='Service Button' action='initService'}}
    </div>

</div>




{{outlet}}