<div class="mdl-grid">
	<div class="mdl-cell mdl-cell--2-col"></div>
	<h1 class="textcenter mdl-cell mdl-cell--8-col">Claudios Twittadd</h1>
	<div class="mdl-cell mdl-cell--2-col"></div>

	<!--<h2 class="mdl"-->
	{{#if twitter.isAuthenticated}}
		<h2 class="textcenter mdl-cell mdl-cell--4-col">Hi </h2>
		{{mdl-button text="Logout" action="logout"}}
		{{outlet}}
	{{else}}
		<div class="mdl-cell mdl-cell--12-col">
			{{mdl-button text="Login with Twitter" action="authenticate"}}
		</div>
	{{/if}}
</div>

